body {
    margin: 0px;
    padding: 0px;
}
* { 
    box-sizing: border-box;
}

.flex-panels {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%; 
    overflow: hidden;
    transition: all 1000ms cubic-bezier(.79,.14,.15,.86);
    background-size: cover; 
    background-position: center;
    position: relative;
    flex: 1; 
    cursor: pointer;
    
}
.panel:after { 
    display: block;
    position: absolute;
    content: ''; 
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,1);
    opacity: 0.5;
    transition: all 250ms ease;
}

.panel:nth-child(1) {
    background-image: url(../img/canyon.jpg);
}
.panel:nth-child(2) {
    background-image: url(../img/mouintains.jpg);
}
.panel:nth-child(3) {
    background-image: url(../img/river.jpg);
}
.panel:nth-child(4) {
    background-image: url(../img/sea.jpg);
}
.panel:nth-child(5) {
    background-image: url(../img/snow.jpg);
}

.panel p {
    font-family: 'Antonio', sans-serif;
    font-size: 2.5em;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0,0,0,0.25);
    transition: all 500ms ease;
    position:relative;
    z-index: 1;
    text-transform: uppercase;
    pointer-events: none;
}
.panel p:first-child {
    transform: translateY(-200%);
    opacity: 0;
}
.panel p:last-child {
    transform: translateY(200%);
    opacity: 0;
}
.panel.open-active p:first-child, .panel.open-active p:last-child {
    transform: translateY(0);
    opacity: 1;
}
.panel.open p:nth-child(2) {
    font-size: 5em;
}
.panel.open { flex: 5 }
.panel.open:after {
    opacity: 0;
}
.panel:not(.open):hover p:nth-child(2) {
    font-size: 5em;
}